### 1 .Connecting MYSQL  Database to python using MYSQL.connector

In [8]:
#pip install mysql-connector-python
import mysql.connector
db=mysql.connector.connect(host='localhost',password='12345',user='root',database="cardb1")
mycursor= db.cursor()

In [17]:
if db.is_connected():
    print("connection establised..")

connection establised..

In [22]:
# columns of car_details csv file 
mycursor.execute("SELECT * FROM car_details limit 10")
for i in mycursor:
    print(i)

('ritz', 2014, Decimal('3'), Decimal('6'), Decimal('27000'), 'Petrol', 'Dealer', 'Manual', 0)
('sx4', 2013, Decimal('5'), Decimal('10'), Decimal('43000'), 'Diesel', 'Dealer', 'Manual', 0)
('ciaz', 2017, Decimal('7'), Decimal('10'), Decimal('6900'), 'Petrol', 'Dealer', 'Manual', 0)
('wagon r', 2011, Decimal('3'), Decimal('4'), Decimal('5200'), 'Petrol', 'Dealer', 'Manual', 0)
('swift', 2014, Decimal('5'), Decimal('7'), Decimal('42450'), 'Diesel', 'Dealer', 'Manual', 0)
('vitara brezza', 2018, Decimal('9'), Decimal('10'), Decimal('2071'), 'Diesel', 'Dealer', 'Manual', 0)
('ciaz', 2015, Decimal('7'), Decimal('8'), Decimal('18796'), 'Petrol', 'Dealer', 'Manual', 0)
('s cross', 2015, Decimal('7'), Decimal('9'), Decimal('33429'), 'Diesel', 'Dealer', 'Manual', 0)
('ciaz', 2016, Decimal('9'), Decimal('9'), Decimal('20273'), 'Diesel', 'Dealer', 'Manual', 0)
('ciaz', 2015, Decimal('7'), Decimal('9'), Decimal('42367'), 'Diesel', 'Dealer', 'Manual', 0)

### 2. Creating Fuel_id and Transmission_id table and inserting values.

In [75]:
#creating  fueltype table
mycursor.execute("CREATE TABLE tbl_fuel (fueltype VARCHAR(20) NOT NULL)")

In [ ]:
#inserting values into fuel-type
mycursor.execute("INSERT INTO tbl_fuel (fueltype) SELECT DISTINCT(Fuel_Type) from car_details")
db.commit()

In [ ]:
#adding ID for fuel_type
mycursor.execute("ALTER TABLE tbl_fuel ADD fuel_id INT PRIMARY KEY NOT NULL AUTO_INCREMENT");

In [79]:
#creating  Transmission  table and inset values and creating tranmission_IDs
mycursor.execute("CREATE TABLE tbl_transmission (transmission_Type  VARCHAR(20) NOT NULL)")
mycursor.execute("INSERT INTO tbl_transmission (transmission_Type) SELECT DISTINCT(Transmission) from car_details")
mycursor.execute("ALTER TABLE tbl_transmission ADD transmissionID INT PRIMARY KEY NOT NULL AUTO_INCREMENT");
db.commit()

In [6]:
# columns values of TBL_fuelid
mycursor.execute("SELECT * FROM tbl_fuel")
for i in mycursor:
    print(i)

('Petrol', 1)
('Diesel', 2)
('CNG', 3)

In [7]:
# columns values of TBL_transmission
mycursor.execute("SELECT * FROM tbl_transmission")
for i in mycursor:
    print(i)

('Manual', 1)
('Automatic', 2)

### 3. creating tbl_cardata table

In [86]:
#creating table TBL_cardata
mycursor.execute("CREATE TABLE tbl_CarData AS SELECT * FROM car_details");

### 4 Creating Remark column and inserting values into Remark column based on condition
### (The remarks should have "Bad" if Kms_Driven > 50000 and Owner > 0)

In [70]:

mycursor.execute("alter table car_details add Remarks char(4);
update tbl_CarData
set Remarks = case when (Kms_Driven > 50000 and Owner > 0 ) then 'bad' else 'good' end");

### 5. Adding Fuel_id and Transmission_id into tbl_cardata

In [120]:
#Adding Fuel_id in tbl_cardata
mycursor.execute("Alter table tbl_CarData add fuel_id int")

In [94]:
#Adding Transmission_id in tbl_cardata
mycursor.execute("Alter table tbl_CarData add TransmissionID int")

In [4]:
mycursor.execute("update tbl_cardata set fuel_id=1 where Fuel_type='Petrol'");
mycursor.execute("update tbl_cardata set fuel_id=2 where Fuel_type='Diesel'");
mycursor.execute("update tbl_cardata set fuel_id=3 where Fuel_type='CNG'");

In [5]:
#adding transmission column
mycursor.execute("Alter table tbl_CarData add TransmissionID int")

In [4]:
#Updating Tranmission_id column in TBL_cardata
mycursor.execute("update tbl_cardata set TransmissionID=1 where Transmission='Manual'");
mycursor.execute("update tbl_cardata set TransmissionID=2 where Transmission='Automatic'");

In [24]:
# columns of TBL_cardata
mycursor.execute("SELECT * FROM tbl_cardata limit 10")
for i in mycursor:
    print(i)

('ritz', 2014, Decimal('3'), Decimal('6'), Decimal('27000'), 'Dealer', 0, 'good', 1, 1)
('sx4', 2013, Decimal('5'), Decimal('10'), Decimal('43000'), 'Dealer', 0, 'good', 2, 1)
('ciaz', 2017, Decimal('7'), Decimal('10'), Decimal('6900'), 'Dealer', 0, 'good', 1, 1)
('wagon r', 2011, Decimal('3'), Decimal('4'), Decimal('5200'), 'Dealer', 0, 'good', 1, 1)
('swift', 2014, Decimal('5'), Decimal('7'), Decimal('42450'), 'Dealer', 0, 'good', 2, 1)
('vitara brezza', 2018, Decimal('9'), Decimal('10'), Decimal('2071'), 'Dealer', 0, 'good', 2, 1)
('ciaz', 2015, Decimal('7'), Decimal('8'), Decimal('18796'), 'Dealer', 0, 'good', 1, 1)
('s cross', 2015, Decimal('7'), Decimal('9'), Decimal('33429'), 'Dealer', 0, 'good', 2, 1)
('ciaz', 2016, Decimal('9'), Decimal('9'), Decimal('20273'), 'Dealer', 0, 'good', 2, 1)
('ciaz', 2015, Decimal('7'), Decimal('9'), Decimal('42367'), 'Dealer', 0, 'good', 2, 1)

### 6 .Dropping  Fuel_type and Transmission

In [11]:

mycursor.execute("ALTER TABLE tbl_cardata  DROP COLUMN Fuel_Type")

In [12]:
mycursor.execute("ALTER TABLE tbl_cardata  DROP COLUMN Transmission")

In [23]:
mycursor.execute("SELECT * FROM tbl_cardata limit 10")
for i in mycursor:
    print(i)

('ritz', 2014, Decimal('3'), Decimal('6'), Decimal('27000'), 'Dealer', 0, 'good', 1, 1)
('sx4', 2013, Decimal('5'), Decimal('10'), Decimal('43000'), 'Dealer', 0, 'good', 2, 1)
('ciaz', 2017, Decimal('7'), Decimal('10'), Decimal('6900'), 'Dealer', 0, 'good', 1, 1)
('wagon r', 2011, Decimal('3'), Decimal('4'), Decimal('5200'), 'Dealer', 0, 'good', 1, 1)
('swift', 2014, Decimal('5'), Decimal('7'), Decimal('42450'), 'Dealer', 0, 'good', 2, 1)
('vitara brezza', 2018, Decimal('9'), Decimal('10'), Decimal('2071'), 'Dealer', 0, 'good', 2, 1)
('ciaz', 2015, Decimal('7'), Decimal('8'), Decimal('18796'), 'Dealer', 0, 'good', 1, 1)
('s cross', 2015, Decimal('7'), Decimal('9'), Decimal('33429'), 'Dealer', 0, 'good', 2, 1)
('ciaz', 2016, Decimal('9'), Decimal('9'), Decimal('20273'), 'Dealer', 0, 'good', 2, 1)
('ciaz', 2015, Decimal('7'), Decimal('9'), Decimal('42367'), 'Dealer', 0, 'good', 2, 1)